<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>No portfolios to show</p>
    <!-- including partials -->
    {{> footer}}
  </body>
</html>
